<style>
  header > h1 {
    color: black;
  }

  .powered-by {
    font-style: italic;
  }

  #logo {
    width: 18em;
  }
</style>

<header>
  <h1>Handlebars starter project</h1>
</header>

<p class="powered-by">
  This site is powered by Node.js, Express and Handlebars.
</p>

<a href="https://handlebarsjs.com/">
  <img id="logo" src="/images/handlebars-logo.png" alt="logo">
</a>

<p>
  <code>{{healthcheck}}</code>
</p>
